<div class="main-content">
    {{>header}}
    <p>{{error}}</p>
    <a href="/"><img src="/img/404.jpg" alt="Page not found!"></a>
</div>

{{>footer}}


{{!-- https://www.geeksucks.com/wp-content/uploads/1513.jpg --}}