
<div class="main-content">
    {{>header}}
    <p>This site was created by Lazy Lucifer. It uses data from weatherstack.com and locationstack.com.</p>
    <img class="potrait" src="img/africanlion-005-3471400539.jpg" alt="The inner me!">

</div>
{{>footer}}
